extends layout

block content

  if error
    p Error getting dynamic content.
  else
    h2.mt-n2.text-center Car Tracker Home
    if car_list.length
      div.card-deck
        each car in car_list
          if car.status == 'Active'
            //- div.w-auto.p-1
            div.card.text-center.border-info.col-md-4.mr-n2
              div.card-header.bg-info.mx-n3
                h3 #{car.name}
              div.card-body
                a(href=car.url)
                  if car.make == 'Honda'
                    img.card-img-top(src='/images/2012_honda_crv_ex2.jpg')
                  else if car.make == 'Nissan' 
                    img.card-img-top(src='/images/14Altima-GunMetallic.jpg')

      hr
      h3
        u Older Cars
      div.row
        each car in car_list
          if car.status != 'Active'
            div.col-lg-4.col-md-4
              div.card.text-center.border-secondary
                div.card-header.bg-secondary
                  h3 #{car.name}
        
                div.card-body
                  a(href=car.url)              
                    if car.make == 'Honda'
                      img.card-img-top(src='/images/2012_honda_crv_ex2.jpg')
                    else if car.make == 'Nissan' 
                      img.card-img-top(src='/images/14Altima-GunMetallic.jpg')
                    else if car.make == 'Mazda' 
                      img.card-img-top(src='/images/2007mazda6-iSV.jpg')
                    else
                      img.card-img-top(src='/images/car-placeholder-2.png')
      

    else
      li(style='list-style:none') No cars added yet.
      br
      p
        a(class='btn btn-warning' role='button' href='/tracker/car/create') Add A Car
