extends layout

block content
  h2.mt-n3= title
  
  if category_list.length
    //- div.table-responsive.col-sm-5.col-md-4
    table.table.table-hover.table-sm.table-striped.col-sm-4.col-md-4
      thead.thead-dark
        tr
          th Name
          //- th Description
          th.text-right.pr-5 Recommended Interval
          th
      tbody
        tr
        each category in category_list
          tr
            td= category.name
            //- td= category.desc
            //- td= category.interval
            td.text-right.pr-5= category.interval
            td.text-right
              a(href=category.url+'/update') #[i.far.fa-edit.fa-lg]

  else
    li(style='list-style:none') There are no Maintenance category.

  a.mt-2.btn.btn-warning(role='button' href='/tracker/category/create') Add A New Category
    